openapi: 3.1.1
info:
  title: Shared Security Schemes
  description: Common security scheme definitions for UAM PSU APIs
  version: 1.0.0
paths: {}
components:
  securitySchemes:
    Authority:
      type: oauth2
      description: |-
        Authorization from, or on behalf of, an authorization authority.  This authority will issue access tokens that are JSON Web Tokens as defined in RFC 7519, using the `RS256` algorithm for the signature, publish to all providers the public key for verifying that signature, and implement standard OAuth server discovery mechanisms as described in RFC 8414.
        The following fields must be included in the JWT claim for access tokens issued by this authority:
        * `iss`, with the URL at which the token generation request was received.
        * `exp`, with a time no further than 1 hour in the future.
        * `sub`, with unique ID of the client requesting the access token.
        * `scope`, with a string composed of a space-separated list of strings indicating the scopes granted, per RFC 6749.
        * `jti`, according to RFC 7519.
        Following the principle of least privilege, only one of the scopes enumerated in this document should be granted in a single token (though other scopes may accompany it).  The tokens granted by this authority must protect against reuse of received tokens to impersonate the sender to other recipients (via use of the `aud` claim or other means).
        When using the `aud` claim to protect against the reuse of received tokens, and absent guidance on behalf of the competent authority to the contrary, the JWT `aud` claim requested by the client must be included in each access token and must contain the fully qualified domain name of the URL the access token will be used to access.  For example, if a PSU were querying the endpoint at https://dss.example.com:8888/rid/v2/dss/identification_service_areas, the access token included in the request should specify `"aud": "dss.example.com"`.
        Clients must provide these access tokens in an `Authorization` header in the form `Bearer <token>` in accordance with RFC 6750.
      flows:
        clientCredentials:
          tokenUrl: https://auth.example.com/oauth/token
          scopes:
            utm.strategic_coordination: Client may perform strategic coordination actions encompassed by the OIM and DCB roles.
            utm.conformance_monitoring_sa: Client may perform conformance monitoring actions encompassed by the CM role.
            utm.availability_arbitration: Client may set the availability state of PSUs in the DSS.
            utm.resource_management: Client may perform resource management actions encompassed by the RIS, resource operator and resource authority roles.
            utm.resource_processing: Client may perform resource processing actions encompassed by the RIS role.
            utm.dcb_check: Client may perform DCB check actions encompassed by the DCB role.
